Repository nodejs/modules, pull requests merged in 2018-10, with the labels that each got.

#180 doc: first pass at minimal-kernel
  doc/plan-for-new-modules-implementation.md
Labels: modules-agenda

#200 add @soldair to observers
  README.md
Labels: modules-agenda

#158 Create Terminology.md
  doc/Terminology.md
Labels: doc, modules-agenda, modules-review

#196 Doc: Phase 2 for new modules implementation
  doc/plan-for-new-modules-implementation.md
Labels: doc, modules-agenda
