Repository nodejs/modules, pull requests merged in 2018-02, with the labels that each got.

#28 doc: s/Google Hangouts/Zoom
  GOVERNANCE.md
Labels: doc, modules-agenda

#27 doc: add meeting notes for Feb 14 2018
  doc/meetings/2017-02-14.md
Labels: meeting-notes, modules-agenda, modules-review

#29 doc: move code of conduct to CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
  GOVERNANCE.md
Labels: doc, governance, modules-agenda, modules-review

#26 Document quorum required in order to merge PRs
  GOVERNANCE.md
Labels: governance, modules-agenda

#34 doc: s/Google Hangouts/Zoom
  GOVERNANCE.md
Labels: modules-agenda

#39 doc: correct year for meeting note
  doc/meetings/2018-02-14.md
Labels: doc, errata
