Repository nodejs/modules, pull requests merged in 2018-05, with the labels that each got.

#72 governance: introduce PR exemptions for minutes
  GOVERNANCE.md
Labels: governance, modules-agenda

#76 Add tzmanics as an observer
  README.md
Labels: modules-agenda

#73 doc: add 2018-04-25 notes
  doc/meetings/2018-04-25.md
Labels: meeting-notes, modules-agenda

#79 doc: 2018-05-09 meeting notes
  doc/meetings/2018-05-09.md
Labels: meeting-notes

#89 Move Geoffrey Booth to member.
  README.md
Labels: modules-agenda

#88 Add Kevin Smith as an observer.
  README.md
Labels: modules-agenda
